.mainContainer {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  /* background-color: gray; */
}

.cardSection {
  align-content: center;
  width: 40rem;
  margin-top: -10rem;
}
